

/*
VARIABLES
*/
// Colors & Fonts
$background_color: #000;
$text_color: #000;
$red: #990000;
$light_gray: #c7c6c7;
$font_family: Arial, sans-serif;

// Breakpoints
$desktop: 1280px;
$tablet_landscape: 1024px;
$tablet_portrait: 768px;
$mobile_landscape: 560px;
$mobile_portrait: 320px;

